.m1 {
  margin: 1rem;
}

.mb05 {
  margin-bottom: 0.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.p05 {
  padding: 0.5rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.flex-start {
  @extend .flex;
  justify-content: flex-start;
}

.b5 {
  bottom: 5px;
}
